{{define "date-badge"}}
<div class="date-badge">
    <div class="date-weekday {{weekdayClass .}}">{{formatWeekday .Date .Lang}}</div>
    <div class="date-day">{{formatDay .Date}}</div>
    <div class="date-month">{{formatMonth .Date .Lang}}</div>
</div>
{{end}}

{{define "date-range"}}
<div class="tournament-dates">
    {{template "date-badge" (dict "Date" .Start "Lang" .Lang) }}
    {{if not (sameDay .Start .End)}}
    <span class="date-separator">→</span>
    {{template "date-badge" (dict "Date" .End "Lang" .Lang) }}
    {{end}}
</div>
{{end}}

{{define "date-badge-with-time"}}
<div class="date-badge">
    <div class="date-weekday {{weekdayClass .}}">{{formatWeekday .Date .Lang}}</div>
    <div class="date-day">{{formatDay .Date }}</div>
    <div class="date-month">{{formatMonth .Date .Lang}}</div>
</div>
{{end}}

{{define "date-range-with-time"}}
<div class="tournament-dates">
    {{template "date-badge-with-time" (dict "Date" .Start "Lang" .Lang) }}
    {{if not (sameDay .Start .End)}}
    <span class="date-separator">→</span>
    {{template "date-badge-with-time" (dict "Date" .End "Lang" .Lang) }}
    {{end}}
</div>
{{end}}
