name: Build and Push

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

env:
  KO_DOCKER_REPO: ghcr.io/${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install ko
        uses: ko-build/setup-ko@v0.7

      - name: Log in to GitHub Container Registry
        if: github.event_name != 'pull_request'
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | ko login ghcr.com -u ${{ github.actor }} --password-stdin

      - name: Build and push image (TAG)
        if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/')
        run: |
          TAG=${GITHUB_REF#refs/tags/}
          ko build --bare --platform=linux/amd64,linux/arm64 --tags=$TAG,${{ github.sha }} .

      - name: Build and push image
        if: github.event_name != 'pull_request' && !startsWith(github.ref, 'refs/tags/')
        run: |
          ko build --bare --platform=linux/amd64,linux/arm64 --tags=${{ github.sha }} .
